# Ignore Python cache files
**/__pycache__/

# Ignore datasets
*.csv
*.xlsx
*.zip
/data/

# Ignore Jupyter checkpoints
**/.ipynb_checkpoints/

# Ignore temporary system files
.DS_Store
Thumbs.db

# Ignore VSCode files
.vscode/